# Gradle
.gradle/
build/
*.iml
*.ipr
*.iws
.idea/
out/
local.properties

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
gen/
proguard/
lint/

# libGDX
lwjgl3/

# Java/Kotlin
*.log
*.tmp
*.bak
*.swp
*~.nib
*.jar
!gradle/wrapper/gradle-wrapper.jar

# OS specific
.DS_Store
Thumbs.db
